{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container" data-aos="fade-up">
    <div class="row hero d-flex align-items-center">
      <div class="col-lg-7 col-md-12">
        <p><span>DevOps Solutions That Scale with You—Not Your Costs.</span></p>
        <h1>DevOps Accelerator for all shapes</h1>
        <p>
          Spend less time managing infrastructure, more time delivering products. We optimize your DevOps for speed, security, and scalability.
        </p>
        <div class="hero-btns justify-content-between">
          <a href="/" class="black">Let's talk!</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <img src="/assets/img/hero-img.png" alt="Hero Img" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

{{partial "carousel.html"}}

<section class="text dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><span>It’s a team of experienced and skilled people</span></p>
        <h2>About Us</h2>
        <p>
          We are a team of seasoned Cloud, Software, and Infrastructure Architects dedicated to delivering high-quality, streamlined technology solutions. Each project begins with a Trust Engineering Board (TEB) session—an in-depth strategy meeting where we analyze client needs, define requirements, and craft the best solution to accelerate delivery.
        </p>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-12 text-center">
        <h2>Core Stack</h2>
        <p>
          Our expertise spans Docker, Kubernetes, AWS, GCP, Terraform, Ansible, Packer, GitHub Actions, and more. We also provide guidance on security best practices, cloud-native development (12-factor manifesto), and fostering a strong DevOps culture within your team.
        </p>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <img
          src="/assets/img/logos.png"
          alt="Logos"
          class="img-fluid mt-5 mb-5"
        />
      </div>
    </div>
  </div>
</section>
{{partial "cta.html"}} {{end}}
