{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container" data-aos="fade-up">
    <div class="row hero d-flex align-items-center">
      <div class="col-lg-7 col-md-12">
        <p><span>{{ .Params.hero.tagline }}</span></p>
        <h1>{{ .Params.hero.heading }}</h1>
        <p>{{ .Params.hero.description }}</p>
        <div class="hero-btns justify-content-between">
          <a href="" class="black" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lucas-trustd/30min'});return false;">{{ .Params.hero.cta_text }}</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <img src="{{ .Params.hero.image }}" alt="Hero Img" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

{{ partial "carousel.html" . }}

<section class="text dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><span>{{ .Params.about.tagline }}</span></p>
        <h2>{{ .Params.about.heading }}</h2>
        <p>{{ .Params.about.description }}</p>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="{{ .Params.about.image }}" alt="Team" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-12 text-center">
        <h2>{{ .Params.corestack.heading }}</h2>
        <p>{{ .Params.corestack.description }}</p>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <img src="{{ .Params.corestack.image }}" alt="Logos" class="img-fluid mt-5 mb-5" />
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}
{{end}}
