{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container" data-aos="fade-up">
    <div class="row hero d-flex align-items-center">
      <div class="col-lg-7 col-md-12">
        <p><span>Scale your business, not your costs.</span></p>
        <h1>DevOps Accelerator for all shapes</h1>
        <p>
          We provide end-to-end DevOps solutions to take care of your digital
          transformation and efficient delivery.
        </p>
        <div class="hero-btns justify-content-between">
          <a class="light" href="/">Contact Us</a>
          <a href="/" class="black">About Us</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <img src="/assets/img/hero-img.png" alt="Hero Img" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

{{partial "carousel.html"}}

<section class="text dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p><span>Lorem Ipsum text here</span></p>
        <h2>It’s a team of experienced and skilled people</h2>
        <p>
          We are an experienced team, composed of Cloud, Software, and
          Infrastructure Architects focused on delivering quality and simplified
          tech stacks for our clients. For each new project, we promote
          internally a meeting called Trust Engineering Board (TEB), in which we
          discuss the client’s needs, requirements, and what’s the best design
          and solution to accelerate the project.
        </p>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="/assets/img/team.png" alt="Team" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section class="text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9 col-12 text-center">
        <h2>Core Stack</h2>
        <p>
          We love Docker, Kubernetes, Cloud(Mainly AWS/GCP), Terraform, Ansible,
          Packer, Jenkins, Github Actions, any Software Programming language.
          Besides that, we can also guide your team across Security, Cloud
          Native principles(12 factors), and DevOps Culture.
        </p>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <img
          src="/assets/img/logos.png"
          alt="Logos"
          class="img-fluid mt-5 mb-5"
        />
      </div>
    </div>
  </div>
</section>
{{partial "cta.html"}} {{end}}
