<div class="container">
  <div class="carousel-container">
    <h2 class="title">{{ .Params.services_section.title }}</h2>
    <div class="carousel-wrapper">
      <div class="carousel">
        {{ $services := where site.RegularPages "Type" "services" }}
        {{ range $services.ByWeight }}
        <div class="slide">
          {{ .Params.icon | safeHTML }}
          <h3>{{ .Title }}</h3>
          <p>
            {{ .Content }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="navigation">
      <button class="nav-button prev">←</button>
      <button class="nav-button next">→</button>
    </div>
  </div>
</div>
