<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<section class="cta">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9">
        <h2>{{ .Params.cta.heading }}</h2>
        <p>{{ .Params.cta.description }}</p>
        <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lucas-trustd/30min'});return false;">{{ .Params.cta.cta_text }}</a>
      </div>
    </div>
  </div>
</section>
