<footer id="footer">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-lg-3 d-flex justify-content-center">
        <img src="/assets/img/logo.png" alt="logo" />
      </div>
    </div>
    <div class="row justify-content-center pt-3 pb-2">
      <div class="col-auto d-flex align-items-center gap-4">
        <img src="/assets/img/partners/aws-apn.png" alt="AWS Partner Network" height="40" />
        <img src="/assets/img/partners/sentry-partner.png" alt="Sentry Partner" height="40" />
      </div>
    </div>
    <div class="copyright">© {{ now.Year }} TrustD Solutions. All Rights Reserved</div>
  </div>
</footer>
