<!-- ======= Header ======= -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"
        ><img src="/assets/img/logo.png" alt="" class="img-fluid"
      /></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a {{ if .IsHome }}class="active"{{ end }} href="/">Home</a></li>
        <li><a {{ if eq .Section "services" }}class="active"{{ end }} href="/services/">Services</a></li>
        <li><a {{ if eq .Section "about" }}class="active"{{ end }} href="/about/">About Us</a></li>
        <li><a {{ if eq .Section "portfolio" }}class="active"{{ end }} href="/portfolio/">Portfolio</a></li>
        <li><a class="getstarted" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lucas-trustd/30min'});return false;">Lets Talk!</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
